extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let Gadgetid = toShow._id
    - let name = toShow.name
    - let type = toShow.type
    - let price = toShow.price
    - let actionid = "/resource/Gadget/" + Gadgetid

    script.
      let actionid = "#{actionid}"

    div
      div.row
        div(class='GadgetAttr mr-3') Gadget ID is:
        div #{Gadgetid}

      div.row
        div(class='GadgetAttr mr-3') Gadget name is:
        div #{name}

      div.row
        div(class='GadgetAttr mr-3') Gadget type is:
        div #{type}

      div.row
        div(class='GadgetAttr mr-3') Gadget price is:
        div #{price}

      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the Gadget collection
        window.location.href='/Gadget'
      }

    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/Gadget'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }

