extends layout

block content
  h1= title


  if (toShow == null)
    h2 No instance to update details
  else
    - let Gadgetid = toShow._id
    - let name = toShow.name
    - let type = toShow.type
    - let price = toShow.price


    div.row(class='mb-2')
      div.mr-1 ID is
      div #{Gadgetid}

    - let actionid = "/resource/Gadget/" + Gadgetid
    form(id='GadgetForm', action=actionid, method="PUT")
      div.form-group
        label.GadgetAttr(for='Name') Institute name
        input#name(type='text', name='name', value=name)
      div.form-group
        label.GadgetAttr(for='type') Gadget type
        input#type(type='text', name='type', value=type)
      div.form-group
        label.GadgetAttr(for='price') Gadget price
        input#price(type='number', name='price', value=price)
      input(type='submit')

      script.
        document.forms['GadgetForm'].addEventListener('submit', async (event) => {
          event.preventDefault();

          try {
            // Show user that form is being submitted
            alert("Saving...");

            const formData = new FormData(event.target);
            const response = await fetch(event.target.action, {
              method: 'PUT',
              body: new URLSearchParams(formData),
            });

            if (!response.ok) {
              throw new Error(`Save failed with status: ${response.status}`);
            }

            const responseBody = await response.text();
            // TODO: Handle the response body as needed
            alert("Save succeeded");

          } catch (error) {
            // Handle error
            console.error("Save failed", error);
            alert("Save failed: " + error.message);
          }
        });

