extends layout

block content
  style.
    .GadgetAttr {
      font-weight: bold;
    }
    .row {
      margin-bottom: 10px;
    }
    .details-container {
      border: 1px solid #ddd;
      padding: 20px;
      border-radius: 5px;
      margin-top: 20px;
    }

  h1= title
  if toShow == null
    h2 No instance to detail details
  else
    - let Gadgetid = toShow._id
    - let name = toShow.name
    - let type = toShow.type
    - let price = toShow.price

    .details-container
      div.row
        div(class='GadgetAttr mr-3') Gadget ID is:
        div #{Gadgetid}

      div.row
        div(class='GadgetAttr mr-3') Name is:
        div #{name}

      div.row
        div(class='GadgetAttr mr-3') Type is:
        div #{type}

      div.row
        div(class='GadgetAttr mr-3') Price is:
        div #{price}
